:root {
  --base: #f4c413;
  --spacing: 10px;
  --blur: 10px;
}

body {
  text-align: center;
  background: #1e1c1c;
  color: #fff;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 50px;
}

h1 {
  font-size: 60px;
}

input {
  width: 100px;
}

img {
  width: 80vw;
  padding: var(--spacing);
  background-color: var(--base);
  filter: blur(var(--blur))
}

.hl {
  color: var(--base);
}

.controls {
  margin-bottom: 50px;
}